.container-fluid{
    max-width: 100vmin;
    border-radius: 5vmin;
}
#github{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 5vmin;
    font-size: 4rem;
    height: 85vh;
    overflow-y: scroll;
    overflow-x: hidden;
}
p{
    text-align: center;
    height: 2.75vh;
    padding: 1vh 0;
    line-height: 200%;
}
#bar{
    height: 5vh;
    display: flex;
    align-items: center;
    width: 100%;
}
#bar a{
    width: 50%;
    height: 2.25vh;
    background: black;
    border-radius: 2.25vh;
    margin: 0 auto;
}
