.container-fluid{
    max-width: 100vmin;
    border-radius: 5vmin;
    position: relative;
    height: 100vh;
}
#instafeed{
    height: 85vh;
    overflow-y: scroll;
    overflow-x: hidden;
}
.instaimg{
	padding: 10px;
	display: flex;
	align-items: center;
	background: white;
}
.instaimg img{
	border-radius: 1rem;
}
p{
    position: absolute;
    width: 100%;
    bottom: 5vh;
    left: 0;
    text-align: center;
    height: 2.75vh;
    padding: 1vh 0;
    line-height: 200%;
}
#bar{
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    height: 5vh;
    display: flex;
    align-items: center;
    width: 100%;
}
#bar a{
    width: 50%;
    height: 2.25vh;
    background: black;
    border-radius: 2.25vh;
    margin: 0 auto;
}
