.container-fluid{
    height: 100vh;
    max-width: 100vmin;
    border-radius: 5vmin;
    background-color:black;
    background-image: url(bg.jpeg);
    background-size: 75vmin 75vmin;
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
#header{
    color: white;
}
a{
    font-size: 5rem;
    color: white;
}
.dock{
    width: 95vmin;
    border-radius: 5vmin;
    position: absolute;
    bottom: 2.5%;
    left: 5vmin;
    display: flex;
    justify-content: space-around;
    background: rgba(255,255,255,0.5);
}
